# VSCode
.vscode/
.history/
# Python 캐시 무시
__pycache__/
*.pyc
*.pyo
*.env
ai/yes

# Gradle
backend/.gradle/
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties

# Java
*.class
*.jar
*.war

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/

# Node / FE
node_modules/

# Env
.env
**/.env

# Properties
**/application.properties

# Node
node_modules/

# jenkins
jenkins_home
# Jenkins
jenkins_home/

# Logs
*.log

#yml
**/application.yml


**/bin

**/*.faiss
**/info.json
**/questions.json

#그 외
Miniconda3-latest-Linux-x86_64.sh
*.faiss
*.index
info.txt
ipe-we-sub1.txt
questions.txt
info.json
questions.json

#expo
.expo/

#python
ai/__pycache__/
ai/*.py[cod]